<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peek app</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css" />
    <script type="text/javascript" src="/static/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/react.js"></script>
    <script type="text/javascript" src="/static/js/libs/react-dom.js"></script>
</head>
<body class="grey lighten-2">
    <div id="root"></div>

    <script type="text/javascript" src="/static/js/gen/app.js"></script>
</body>
</html>
